
<section class="container col-xl-12 col-xxl-12 py-5">
  <table class="table">
    <thead>

      <tr>

        <th scope="col text-">Nom</th>

        <th scope="col"><a class="link-body-emphasis link-offset-2  link-opacity-50-hover text-decoration-none"(click)="DateCreationSort()">Date creation
          <i class="bi bi-arrow-down-up"></i></a></th>

        <th scope="col">
          <a class="link-body-emphasis link-offset-2  link-opacity-50-hover text-decoration-none"(click)="DateDebutSort()">Date Début
              <i class="bi bi-arrow-down-up"></i>
          </a>
        </th>


        <th scope="col">Date fin</th>
        <th scope="col">Type</th>
        <th scope="col">Motif</th>
        <th scope="col">Statut</th>
        <th scope="col d-flex">Action</th>
        <th scope="col">Annuler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absence of absences">
        <td *ngIf="absences.length === 0">Vous n'avez pas de demande d'absence en cours</td>
        <th scope="row">{{absence.employe?.lastName}} {{absence.employe?.firstName}}</th>
        <td>{{absence.dateCreation | date:'dd/MM/yyyy à HH:mm '}}</td>
        <td >{{absence.dateDebut | date:'dd/MM/yyyy'}}</td>
        <td>{{absence.dateFin | date:'dd/MM/yyyy'}}</td>
        <td>{{absence.typeAbsence }}</td>
        <td>{{absence.motif}}</td>
        <td>{{absence.statut}}</td>


        <td class="text-center">
          <button type="submit" class="btn btn-outline-success me-2" (click)="validStatut(absence)"
            *ngIf="absence.statut =='EN_ATTENTE'">
            <i class="bi bi-check-lg"> </i>
          </button>

          <i class="bi bi-check-lg text-success" *ngIf="absence.statut=='VALIDEE'"></i>

          <button type="submit" class="btn btn-outline-danger" (click)="rejectStatut(absence)"
            *ngIf="absence.statut=='EN_ATTENTE'">
            <i class="bi bi-x-lg"> </i>
          </button>
          <i class="bi bi-x-lg text-danger" *ngIf="absence.statut =='REJETEE'"></i>
        </td>
        <td>
          <button type="submit" class="btn btn-outline-black ms-3" (click)="eraseStatut(absence)">
            <i class="bi bi-eraser"></i>
          </button>
        </td>

      </tr>
    </tbody>
  </table>
  <p *ngIf="absences.length === 0" class="text-center m-5 text-warning">"Vous n'avez pas de demande d'absence en cours"</p>
  <div class="d-flex justify-content-center">
    <button class="me-1" type="submit" class="btn btn-outline-dark" (click)="updateAbs()">
      Envoyer
    </button>
  </div>
  <div *ngIf="okMessage" class="alert alert-success mt-3 text-center">{{ okMessage }}</div>
</section>
