#calendar {
  margin: 40px auto;
  min-height:600px;
}

.list-container {
  font-size:0.8em;
  max-height:500px;
}
.color-instruction {
  margin-top:2em;
}

.color-instruction > div {
  position: relative;
  padding:0.7em;
  font-size: small;
}

.color-instruction > div::before {
  content:'';
  display:block;
  width:30px;
  height:30px;
  margin-right: 0.7em;
}
.dateDuJour::before {
  background-color: #fffadf;
}

.rtt::before {
  background-color: #CAFFFF;
}

.jf::before {
  background-color:#FF580F;
}

::ng-deep .fc-event .fc-event-title{  overflow-wrap: break-word;}
