
<form
#form="ngForm"
(ngSubmit)="emitter.emit(form)"
class="d-flex flex-column gap-2">
    <div>
        <label class ="me-1 mb-1" for="start">Date de début:</label>
        <input type="date" id="start" name="start" min="2023-01-01" max="2050-12-31" [(ngModel)]="start" />
    </div>
    <div>
        <label class ="me-1 mb-1" for="end">Date de fin:</label>
        <input type="date" id="end" name="end" min="2023-01-01" max="2050-12-31" [(ngModel)]="end" />
    </div>
    <div class="type ">
        <label class ="mb-1" for="type-select">Choisir le type de congé:</label>
        <select class="form-select" name="type" id="type-select" [(ngModel)]="type" >
            <option value="CONGE_PAYE">Congés payés</option>
            <option value="RTT">RTT</option>
            <option value="CONGE_SANS_SOLDE">Congés sans solde</option>
        </select>
    </div>
    <div class="motif d-flex flex-column">
        <label for="motif">Motif:</label>
        <textarea id="motif" name="motif" rows="3" cols="33" [(ngModel)]="motif"></textarea>
    </div>
    <div class="d-flex gap-5 justify-content-center">
        <button
        class="btn btn-outline-success btn-sm ">valider</button>
        <button
          (click)="emitterAnnulation.emit()"
        class="btn btn-outline-danger btn-sm ">annuler</button>
    </div>

</form>
